<p>
  <strong>Name:</strong>
  <%= @coffee_bean.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @coffee_bean.description %>
</p>

<%= link_to 'Edit', edit_coffee_bean_path(@coffee_bean) %> |
<%= link_to 'Back', coffee_beans_path %>