<h1>Cold Drinks</h1>

<p class="boxhead"><%= link_to 'New Cold Drink', new_cold_drink_path %></p> 
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
  </tr>
 
  <% @cold_drinks.each do |cold_drink| %>
    <tr>
      <td><%= cold_drink.name %></td>
      <td><%= cold_drink.description %></td>
      <td><%= link_to 'Show', cold_drink_path(cold_drink) %></td>
    </tr>
  <% end %>
</table>