<p>
  <strong>Name:</strong>
  <%= @cold_drink.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @cold_drink.description %>
</p>

<%= link_to 'Edit', edit_cold_drink_path(@cold_drink) %> |
<%= link_to 'Back', cold_drinks_path %>